.tictactoe-area {
    height: 100%;
    width: 900px;
    margin: 15px auto 0px;
    cursor: default;
}

.board {
    height: 426px;
    width: 426px;
    margin: 20px auto 0px;
    opacity: 0.15;
}

.cell {
    width: 150px;
    height: 150px;
    border: 12px solid darkslategray;
    margin-right: -12px;
    margin-bottom: -12px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    float: left;
    text-align: center;
    font-family: "Arial";
    font-size: 150px;
    color: darkslategray;
    line-height: 98px;
}

.starting-menu {
    height: 90px;
    width: 426px;
    margin: 10px auto;
}

.starting-button {
    float: left;
    width: 200px;
    height: 90px;
    color: darkgreen;
    font-family: Georgia, 'Times New Roman', Times, serif;
    opacity: 1;
    border: 6px solid darkslategray;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-align: center;
    font-family: "Arial";
    font-size: 25px;
    color: darkslategray;
    padding: 9px 10px;
    word-wrap: break-word;
}

.starting-button.start-second {
    float: right;
}

.starting-button:hover {
    border-color: lightslategray;
    color: lightslategray;
}

.information {
    display: none;
    height: 60px;
    width: 426px;
    margin: 5px auto 0px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-align: center;
    font-family: "Arial";
    font-size: 40px;
    color: darkslategray;
    padding: 7px 0px;
}

.information#loss {
    color: palevioletred;
}

.information#draw {
    color:  darkgoldenrod;
}

.restart-button {
    display: none;
    height: 60px;
    width: 426px;
    margin: 0px auto;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-align: center;
    font-family: "Arial";
    font-size: 40px;
    color: darkslategray;
    padding: 3px 0px;
    border: 6px solid darkslategray;
}

.restart-button:hover {
    border-color: lightslategray;
    color: lightslategray;
}

.losing-line {
    color: palevioletred;
}